.nav-color {
    background-color: #000000 !important;
}

.nav-brand {
    margin-left: 20px;
    
}

.nav-icon {
    font-size: 60px;
}

h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
}

.retro-size {
    font-size: 40px;
    letter-spacing: 6px;
}

.nav-links {
    font-family: 'Roboto Flex', sans-serif;
    margin-right: 20px;
}

.nav-item {
    margin-right: 10px;
}
