body {
    background-color: rgb(241, 79, 15);
    opacity: 0.9;
}

.carousel__img--opacity {
    width: 100%;
    height: 38rem;
    opacity: 0.6;
}

.carousel__h5 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.carousel__paragraphe {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 18rem;
}

.section__paragraphe--title {
    color: rgb(7, 6, 6);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 50px;
    font-weight: 200px;
}

.section__paragraphe {
    color: black
}

// footer con css grid 
.footer-name {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #080808;
    margin: 0px !important;
    padding: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    
    &__caja{
    
    color: gray;
        &--color{
        color: orangered;
        
        }
    }
    
}





